TEST_HOST=localhost
TEST_PORT=22234
TEST_USER=root
TEST_PASSWORD=root

WIN_TEST_HOST=192.168.2.31
WIN_TEST_PORT=22
WIN_TEST_USER=zxd
WIN_TEST_PASSWORD=zxd

# RUN_FOLDER_TRANSFER_INTEGRATION=1
# RUN_FOLDER_TRANSFER_WINDOWS_INTEGRATION=1
